*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background-color: #e7e2e2;
    font-family: sans-serif;
}
header{
    text-align: center;
    font-size: x-large;
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;

}

.contentor-imagem{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 275px;
    border: 1px dotted rgb(48, 48, 77);
}

#imagemProcessada{
    flex: 1;
    width: 80%;
    margin: auto;
    height: 200px;
}

.contentor{
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    /*Direcao dos elementos*/
    flex-direction: row;

    /*Quebra de linha no tamnho pequeno*/
    flex-wrap: wrap;
    
    /*Alinhamento horizontal*/
    justify-content: center;

    /*Alinhamento vertical*/
    align-items: center;

        
}
.contentor-traducao
{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 45%;
    height:80%;
    margin: 2%;
    border-radius: 10%;
}

.contentor-traducao div p{
    text-align: center;
    margin-right:5px;
}
.contentor-traducao div select{
    display: block;
    margin-right:5px;
    width: 90%;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 20px;
}

.contentor-traducao div{
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.contentor-traducao textarea{
    flex: 1;
    border: none;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    resize: none;
    margin-top: 5%;
    margin-bottom: 15%;
    outline: none;
}

.contentor-icones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.icone{
    
    flex: 1;
    margin-bottom:5px;
    width: 25px;
    height: 25px;
}

.imgIcones{
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.contentor-botoes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    border-radius: 10px;
}

.botoes{
    flex: 1;
    width: 45%;
    height: 35px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    line-height: 35px;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    cursor: pointer;
}
.bloco{
    display: block;
}
.botoes:hover{
    background-color:rgb(238, 234, 234);
    transition: .6s;
}

#progresso{
    color: greenyellow;
    background-color:greenyellow;
    width: 0%;
}
.contentor-progresso
{
    width: 90%;
    display: none;
}

@media screen and (min-width:700)
{
    .contentor{
        display: flex;
    }

}