<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/links.ejs') %>
    <title>My Image Translator - Página não Encontrada</title>
</head>
<body>
    <h1>
         Não conseguimos encontrar o recurso que solicitou no nosso servidor!
    </h1>
</body>
</html>