<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    
    <header>
        <h1> <a href="/principal"></a> My Lens Traductor</h1>
        <nav>
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/criar-conta">Criar Conta</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/contactos">Contactos</a></li>
            </ul>
        </nav>
    </header>



    <div class="container">

    </div>
    <h1>Bemvindo ao My Lens Tradutor</h1>

    <p>Ir para a página principal:</p>
    <a href="./paginas/principal.html">My Lens Traductor</a>

</body>
</html>